mixin btn(name, svgName="")
    a.btn(href="#order" class= typeof svgName=="" ? "": "btn--icon")&attributes(attributes)
        span= name
        if svgName
            //- +picture-svg-sprite(svgName)(class="btn__icon")
