.btn {
    width: 100%;
    display: block;
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.01em;
    border: var(--btn-border, none);
    outline: var(--btn-outline, none);
    color: var(--btn-text, inherit);
    background: var(--btn-bg, inherit);
    border-radius: var(--btn-radius, 0px);
    max-width: var(--btn-max-width, 430px);
    padding: var(--btn-padding, 1.25em);
    font-size: 14px;
    &:hover {
        background: var(--btn-bg-hover, var(--btn-bg));
        box-shadow: var(--btn-shadow-hover, none);
    }
    &:active {
        background: var(--btn-bg-active, var(--btn-bg));
        box-shadow: var(--btn-shadow-active, none);
    }
    &:focus-visible {
        background: var(--btn-bg-focus, var(--btn-bg));
        box-shadow: var(--btn-shadow-focus, none);
        outline: var(--btn-outline-focus, none);
        border: var(--btn-border-focus, none);
    }

    &__icon {
        width: 1em;
        height: 1em;
        padding: 0 0.8em;
        box-sizing: initial;
        fill: var(--btn-text);
    }
    &--icon {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
}