:root {
    --btn-bg:       #F56538;
    --btn-border:   #F56538;
    --btn-outline: none;
    --btn-text:     #ffffff;
    --btn-radius:       5px;
    --btn-max-width:    375px;
    --btn-padding:      16px;

    --btn-bg-hover:     #FF3D00;
    --btn-shadow-hover: none;

    --btn-bg-active:    #FF3D00;
    --btn-shadow-active: none;

    --btn-bg-focus: none;
    --btn-shadow-focus: none;
    --btn-outline-focus: 2px solid #CD0000;
    --btn-border-focus: none;
}