block variables
    //- Do not delete block variables it needs for localization

doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        meta(name='robots' content='all')
        meta(name='revisit-after' content='5 days')
        meta(name='distribution' content='global')
        title Document
    body
        header
        main
            h1 Template HOMEPAGE
            p text from data:
            p= PAGE.test
        footer