html {
    font-family: $font-text;
    font-weight: 400;
    font-size: var(--font-size);
    letter-spacing: 0.02em;
    color: var(--text);
}
.h1 {
    font-family: $font-header;
    font-weight: 700;
    font-size: var(--font-size-h1);
    line-height: 1.3em;
    letter-spacing: 0.02em;
}
.h2 {
    font-family: $font-header;
    font-weight: 700;
    font-size: var(--font-size-h2);
    letter-spacing: 0.02em;
}

.btn {
    font-family: $font-header;
    font-weight: 600;
    font-size: var(--font-size-btn);
    letter-spacing: 0.02em;
}

small, .small {
   font-size: var(--font-size-small);
}

