html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    background: var(--bg, white);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
main {
    flex-grow: 1;
}
a {
    color: inherit;
}

p {
    margin-top: 1.1em;
    line-height: 1.4em;
}

cite {
    font-style: normal;
}

.btn {
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
}

.svg-clip-path {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.nowrap-text {
    white-space: nowrap;
}

.text-accent {
    color: var(--text-accent);
}

.text-del {
    color: var(--text-del);
    text-decoration-line: line-through;
}

.order-1 {
    order: 1;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 5px; /* ширина для вертикального скролла */
    height: 5px; /* высота для горизонтального скролла */
    background-color: var(--bg);
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: var(--bg);
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color:var(--scroll-bar);
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
    background: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background: none;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background:none;
}

