// @use "sass:map";


// Typograthy
$font-header: 'Poppins', "Arial", sans-serif;
$font-text: 'Open Sans', "Arial", sans-serif;
$font-addition: 'Helvetica', 'Open Sans',"Arial", sans-serif;

// Breakpoints
// $breakpoints: (
//     sm:   320px,
//     md:   414px,
//     lg:   768px,
//     lger: 1024px,
//     xlg:  1440px,
// );

:root {
    --bg:                   #ffffff;
    --bg-additional:        #EDF5F8;
    --wrapper:              20px;

    --font-size:            14px;
    --font-size-h1:         30px;
    --font-size-h2:         24px;
    --font-size-small:      10px;
    --font-size-btn:        16px;
}

.form {
    --form-text: #6C6C6C;
    --input-bg: white;
    --input-hover: #6C6C6C;
    --input-active: #ffffff;
    --input-valid: #02D663;
    --input-error: #CE1800;
}